.tree-classic .a1 {
  overflow: visible !important;
}

.code-mirror-element .CodeMirror {
  height: auto !important;
}

.files-page {
  position: relative;
}

.files-page .file-picker {
  position: absolute;
  top : 0;
  left: 0;
  width: 200px;
  min-height: 800px;

  overflow: scroll;
  padding-bottom: 50px;
  padding-right: 0
}

.files-page .file-preview {
  position: absolute;
  top: 0;
  left: 200px;
  width: 80%;
  min-height: 800px;
}

.files-page.expanded .file-picker {
  width: 600px;
}
.files-page.expanded .file-preview {
  left: 600px;
}

.node {
  cursor: pointer;
}


#file-tree-graph .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#file-tree-graph .node text {
  font: 10px sans-serif;
}

#file-tree-graph .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


#circle-pack-graph {
  width: 0;
}

#circle-pack-graph .node {
  cursor: pointer;
}


#circle-pack-graph .node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

#circle-pack-graph .node.node--leaf {
  fill: white;
}

#circle-pack-graph .label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

#circle-pack-graph .label,
#circle-pack-graph .node--root,
#circle-pack-graph .node--leaf {
  pointer-events: none;
}
