<div class="page" ng-controller="ClonesCtrl">

    <div class="row">
        <div class="col-md-12">
            <div id="class-scatter-plot">
            </div>
        </div>
        <div class="col-md-12">
            <div style="padding: 0 20px; min-height: 600px;" data-ng-if="activeClasses">

                <uib-tabset>

                    <uib-tab ng-repeat="cloneClass in activeClasses" heading="Clone Class {{cloneClass.uid}}" active="cloneClass.active">
                        <div data-ng-if="cloneClass.active">
                            <h4>Information</h4>
                            <ul>
                                <li>Weight: <span class="label label-primary">{{cloneClass.weight}}</span></li>
                                <li>Number of files: <span class="label label-primary">{{cloneClass.fragments.length}}</span></li>
                            </ul>
                            <table class="table" style="margin-top: 20px;">
                                <tbody>
                                <tr ng-repeat="cloneFragment in cloneClass.fragments">
                                    <td class="col-md-2 col-sm-3 col-xs-4">
                                        <file-link path="cloneFragment.file"></file-link>
                                    </td>
                                    <td>
                                        <file-snippet-loader
                                                location="cloneFragment">
                                        </file-snippet-loader>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
