<div class="page" ng-controller="ClonesCtrl">

    <div class="row">
        <div class="col-md-12">
            <div id="class-scatter-plot">
            </div>
        </div>
        <div class="col-md-12">
            <div style="padding: 0 20px; min-height: 600px;" data-ng-if="activeClasses">

                <uib-tabset>

                    <uib-tab ng-repeat="cloneClass in activeClasses" heading="Clone Class {{cloneClass.uid}}" active="cloneClass.active">
                        <div data-ng-if="cloneClass.active">
                            <clone-class-info clone-class="cloneClass">
                            </clone-class-info>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
