<style type="text/css">
    path.arc {
        cursor: move;
        fill: #fff;
    }

    .node {
        font-size: 10px;
    }

    .node:hover {
        fill: #1f77b4;
    }

    .link {
        fill: none;
        stroke: #1f77b4;
        stroke-opacity: .4;
        pointer-events: none;
    }

    .link.source, .link.target {
        stroke-opacity: 1;
        stroke-width: 2px;
    }

    .node .reflexive {
        font-weight: bold;
    }

    .node.target {
        fill: #2ca02c !important;
    }

    .node.selected {
        fill: #1f77b4;
    }

    .node.source {
        fill: #2ca02c;
    }

    .link.target {
        stroke: #2ca02c;
    }

    .link.source {
        /*stroke: #2ca02c;*/
        stroke: red;
    }

    #donut-graph {
        min-height: 1500px;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    #donut-help {
        width: 250px;
        position: absolute;
        left: 20px;
    }

    #donut-help ul {
        padding-left: 20px;
    }

    #donut-clone-class-tabs {
        position: absolute;
        top: 1100px;
        left: 20px;
        right: 20px;
    }
</style>

<div data-ng-controller="DonutCtrl">
    <div id="donut-help" class="panel panel-default">
        <div class="panel-heading">File relations</div>
        <div class="panel-body">
            <p>The following graph shows which files share clones.</p>
            <ul>
                <li>A <var>*</var> indicates a reflexive relation.</li>
                <li>Press <kbd>escape</kbd> to remove the selection.</li>
                <li>Double click on a file to explore its contents.</li>
            </ul>
        </div>
    </div>
    <div id="donut-graph"></div>
    <div id="donut-clone-class-tabs">
        <clone-class-tab-set clone-classes="activeClones">
        </clone-class-tab-set>
    </div>
</div>