<div ng-controller="FilesCtrl" class="files-page">

    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2" style="overflow: scroll; padding-bottom:50px;">
            <div>
                <button>Expand</button>
            </div>
            <treecontrol class="tree-classic"
                         tree-model="dataForTheTree"
                         options="treeOptions"
                         on-selection="showSelected(node)"
                         selected-node="node1">
                {{node.name}}
            </treecontrol>
        </div>
        <div class="col-xs-8 col-sm-9 col-md-10">
            <div ng-if="selectedFileContent" class="file-preview">
                <ui-codemirror ng-model="selectedFileContent"
                               class="code-mirror-element"
                               ui-codemirror-opts="editorOptions"></ui-codemirror>
            </div>
        </div>
    </div>
</div>

</div>