<div ng-controller="FilesCtrl" class="files-page" data-ng-class="expandedTree && 'expanded'">

    <div class="file-picker">
        <div style="margin-bottom: 20px">
            <button data-ng-click="toggleExpand()"
                    class="btn btn-primary btn-block"
                    style="border-radius: 0">
                <span data-ng-if="!expandedTree"><i class="fa fa-plus-circle"></i> Expand</span>
                <span data-ng-if="expandedTree"><i class="fa fa-minus-circle"></i> Collapse</span>
            </button>
        </div>
        <treecontrol class="tree-classic"
                     tree-model="dataForTheTree"
                     options="treeOptions"
                     on-selection="showSelected(node)"
                     selected-node="selectedNode"
                     expanded-nodes="expandedNodes">
            {{node.name}}
        </treecontrol>
    </div>
    <div class="file-preview">
        <div class="position: relative; width: 100%; height: 100%">
            <div ng-if="selectedFileContent">
                <ui-codemirror ng-model="selectedFileContent"
                               class="code-mirror-element"
                               ui-codemirror-opts="editorOptions"></ui-codemirror>
            </div>
        </div>
    </div>
</div>