<div ng-controller="ScatterPlotCtrl">

    <div class="row">
        <div class="col-md-12" style="min-height: 550px;">
            <h1>Clone class distribution</h1>
            <div id="class-scatter-plot" data-ng-if="showChart">
                <highchart id="scatterPlot" config="chartConfig" ></highchart>
            </div>
        </div>
        <div class="col-md-12">
            <div style="padding: 0 20px; min-height: 600px;" data-ng-if="activeClasses">

                <clone-class-tab-set clone-classes="activeClasses">
                </clone-class-tab-set>
            </div>
        </div>
    </div>
</div>