<div ng-controller="TypePackingCtrl">
    <div data-ng-show="$state.params.cloneId">
        <h1>Clone Type Packing</h1>
        <ul>
            <li>The black circle indicates the whole clone class</li>
            <li>The gray circles indicate the type 1 clones in this type 2 clone class.</li>
            <li>The white circles indicate each clone fragment.</li>
        </ul>
        <div id="circle-pack-graph"></div>
    </div>
    <div data-ng-if="!$state.params.cloneId">
        <table class="table">
            <tbody>
            <tr data-ng-repeat="cloneClass in ::cloneData.clones">
                <td>
                    <a data-ui-sref="app.graphs.type-packing({cloneId : cloneClass.uid})">
                        Clone Class {{cloneClass.uid}} <small>(Weight: {{cloneClass.weight}}, Size: {{cloneClass.fragments.length }})</small>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>